body{
    background-color: rgb(36, 36, 36);
}

.clock-container{
    
    position: absolute;
    width: fit-content;
    bottom: 50%;
    left: 42%;

    .data{
        position: relative;
        
        color: aqua;
        font-size: 50px;
    }
}